{% extends 'main.html' %}


{% block content %}
<h1>Register</h1>

<div class="register">
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Registrate">
    </form>
    
    {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li>{{ field }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
            

</div>


<p>Ya tienes un usuario logueate <a href="{% url 'login' %}">aqui</a></p>

{% endblock content %}
    