{% extends 'main.html' %}
{% load static %}
{% load triviatags %}

{% block content %}
    <div class="container question-container">
        <h1>Preguntas</h1>
        
        <h2>Ranking: {{request.user.get_ranking}}</h2>
        <h2>Puntos: {{request.user.points}}</h2>
        
        <div class="countdown-box">
            <h1>Start!</h1>
        </div>

        <div class="title">
            <h2 class="{{question.difficulty}}">{{question.category|translate}}</h2>
        </div>
        {% comment %} <form action="{% url 'questions_form' %}" method="post"> {% endcomment %}
        <form action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="current_time" value=''>
            <div class="card-container hide">
                <div class="card">
                    <div class="card-header">
                        {{question.question|translate|safe}}
                        <p class="question">{{question.question|safe}}</p>
                    </div>
                    <div class="card-body">
                        {% for answer in question.answers %}
                        <div>
                            <input type="radio" id="answer{{forloop.counter}}" name="answer" value="{{answer}}" required>
                            <label for="answer{{forloop.counter}}">{{answer|translate|safe}} - <span class="answer-eng">({{answer|safe}})</span></label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="bet-container">
                <h3>Set your bet: </h3>
                {% for key, value in bet.items %}
                    {% if value > 0 %}
                        <div>
                            <input type="radio" id="bet{{forloop.counter}}" name="bet" value="{{value}}" required>
                            <label for="bet{{forloop.counter}}">{{value}}</label>
                        </div>
                    {% endif %}
                {% endfor %}
                <div>
                    <input type="radio" id="bet" name="bet" value="{{request.user.points}}" required>
                    <label>All-in</label>
                </div>
            </div>
            
            <input class="btn send-questions hide" type="submit" value="Responder">
        </form>

        <a id="backBtn" href="{% url 'home' %}">SALIR</a>
    </div>

    <div class="container-result hide">
        <div class="result correct hide">
            <h1>¡Correcto!</h1>
            <p class="points">Ganaste: <span></span> puntos</p>
        </div>

        <div class="result incorrect hide">
            <h1>¡Incorrecto!</h1>
            <p>the correct answer is:</p>
            <p class="correct_a"></p>
            <p class="correct_a_trans"></p>
            <p class="points">Perdiste: <span></span> puntos</p>
        </div>
    </div>

<script>
    var url_home = "{% url 'home' %}"
</script>
<script src="{% static 'js/game.js' %}"></script>
{% endblock content %}
