{% extends 'main.html' %}
{% load static %}

{% block content %}
<div id="main" class="container">

    <h1>TRIVIA</h1>


    {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
        <p>Hola {{request.user.email}}</p>
        <p>stats: </p>
        <p>Points: {{request.user.points}}</p>
        {% with request.user.get_player_stats as stats %}
            <p>answer: {{stats.answer}}</p>
            <p>correctly: {{stats.correctly}}</p>
            <p>percentage: %{{stats.percentage}}</p>
        {% endwith %}
            

        <h2>Top Ten</h2>
        <div>
            <ol>
                {% for player in top_ten %}
                <li>{{player}}</li>
                {% endfor %}
            </ol>
        </div>
        <a href="{% url 'players_rankings' %}">Complete ranking</a>
        
        {% if request.user.points <= 0 %}
            <a href="#">Pedir puntos</a>
        {% else %}
            <a id="play" href="{% url 'game_view' %}">Empezar</a>
        {% endif %}
</div>

<div id="loading" class="hide">
    <div class="info">
        <h1>Trivia</h1>
        <h3>Tienes 30 segundos para contestar</h3>
        <h3>antes de ver la pregunta debes colocar una apuesta</h3>
        <h3>si el tiempo se termina la pregunta se considera incorrecta</h3>
    </div>
    

    <div class="ring">
        Loading
        <span></span>
    </div>

</div>
<script src="{% static 'js/index.js' %}"></script>
{% endblock content %}
    